path {
  transform-origin: 50% 0%;
}

.background--custom {
  background-color: transparent;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}
canvas#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(3);
  --gradient-color-1: #c6a664;
  --gradient-color-2: #3e3e3e;
  --gradient-color-3: #355e3b;
  --gradient-color-4: #b87c7c;
  --gradient-speed: 0.000006;
}

.title {
  font-size: 10vw;
  text-align: center;
}

.cardborder {
  background-color: #f8f4e3;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  height: auto;
  margin: 10vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}

#card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #a89f91;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
.wig {
  justify-content: center;
  width: 17vw;
  max-height: 20vw;
  object-fit: cover;
  margin-bottom: 7px;
}

.description {
  display: inline;
  text-align: center;
  font-size: 2vw;
}

.description1 {
  display: inline;
  text-align: center;
  font-size: 10px;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;

  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
  justify-content: space-around;
}

button:hover {
  background: linear-gradient(
    to right,
    rgb(0,0,0) 0%,
    rgb(112, 112, 112) 50%,
    rgb(225, 225, 255 ) 100%
  );
}

@media screen and (max-width: 200px) {
  #card {
    width: auto;
    height: auto;
  }
  .wig {
  max-width: 100%;
  height: auto;
  }
  .cardborder {
    flex-direction: column;
    width: auto;
  }
}
