.title {
  font-size: 10vw;
  text-align: center;
}

.name {
  font-size: 10vw;
  text-align: center;
}
.body {
  align-items: center;
}
.container {
  background-color: #f8f4e3;
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 20px;
  width: 20vw;
  height: auto;
  margin: 2px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #a89f91;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
.img {
  width: 200px;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.price {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.btn {
  display: inline;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;

  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
  justify-content: space-around;
}

button:hover {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgb(112, 112, 112) 50%,
    rgb(225, 225, 255) 100%
  );
}

@media screen and (max-width: 200px) {
  #card {
    width: auto;
    height: auto;
  }
  .img {
    max-width: 100%;
    height: auto;
  }
  .cardborder {
    flex-direction: column;
    width: auto;
  }
}
