
body {
  background-color: #f8f4e3;
  margin: 0;
  font-family: sans-serif;
}


.title,
.name {
  font-size: 10vw; 
  text-align: center;
  margin: 10px 0;
}


.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 90vw;
  margin: 0 auto;
  background-color: #f8f4e3;
  box-sizing: border-box;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #a89f91;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%; 
  height: 700px; 
  box-sizing: border-box;
}

.img {
  width: 100%;
  max-width: 250px; 
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}


.price,
.stock {
  text-align: center;
  font-size: 35px;
  margin: 5px 0;
}


.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  transition: background 0.2s ease;
}

.btn:hover {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgb(112, 112, 112) 50%,
    rgb(225, 225, 255) 100%
  );
}


@media screen and (max-width: 1100px) {
  .container {
    width: 80vw;
  }

  .card {
    width: auto;
    max-width: 400px;
  }

  .img {
    width: 80%;
  }

  .price,
  .stock {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 90vw;
  }

  .card {
    width: 90%;
  }

  .img {
    width: 80%;
  }

  .price,
  .stock {
    font-size: 20px;
  }
}
